{% extends 'header.html' %}
{% load static %}
{% block content %}
<html>
<head>
 <title>Checkout canceled</title>
 
</head>
<body>
 <div class="container">

 	<!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 200px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Cancel</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="/">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Cancel</p>
            </div>
        </div>
    </div>
    <!--  End Page Header -->

 <h3>Forgot to add something to your cart? </h3>
 <h5>Shop around then come back to pay!</h5>
 </div>
</body>
</html>
{% endblock %}