{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body class="goto-here">
        
    <!-- END nav -->

    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 200px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Shopping Cart</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="/">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Cart Products</p>
            </div>
        </div>
    </div>
    <!--  End Page Header -->


    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-10 order-md-last">
                    <div class="row">
                        {% if msg %}
                          <b style="color: blue">{{msg}}</b>
                        {% endif %}
                        {% if carts %}
                        {% for i in carts %}
                        <div class="col-sm-12 col-md-12 col-lg-4 ftco-animate d-flex">
                            <div class="product d-flex flex-column">
                                <a href="#" class="img-prod"><img class="img-fluid" src="{{i.product.product_pic.url}}" alt="Colorlib Template" style="width: 200px; height: 200px;">
                                    <div class="overlay"></div>
                                </a>
                                <div class="text py-3 pb-4 px-3">
                                    <div class="d-flex">
                                        <div class="cat">
                                            <span>{{i.product.product_brand}}</span>
                                        </div>
                                        
                                    </div>
                                    <h3><a href="#">{{i.product.product_name}}</a></h3>

                                    <div class="pricing">
                                        <p class="price"><span>Product Price: ₹{{i.product.product_price}}</span></p>
                                    </div>

                                    <div class="pricing">
                                        <form name="change qty" method="post" action="{% url 'change-qty' %}"> 
                                            {% csrf_token %}
                                            <p class="price">
                                                <span>
                                                    <input type="hidden" name="cid" value="{{i.pk}}">
                                                    Product Qty: <input type="number" name="product_qty" value="{{i.product_qty}}" min="1" max="10" onchange="this.form.submit();">
                                                </span>
                                            </p>

                                        </form>
                                    </div>

                                    <div class="pricing">
                                        <p class="price"><span>Total Price: ₹{{i.total_price}}</span></p>
                                    </div>
                                    <a href="{% url 'product-details' pk=i.pk %}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Product Details</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                           <h1>Cart Is Empty</h1>
                        {% endif %} 
                      </div>
                      <form method="post">
                        <input type="hidden" id="net_price" name="amount" value="{{net_price}}">
                        <button type="button" class="btn btn-lg btn-primary" id="checkout-button">Checkout</button>
                      </form>

                    
                    <dir>
                        <h2>Net Price: {{net_price}}</h2>
                    </dir>

                    </div>
                </div>

                <div class="col-md-4 col-lg-2">
                  <div class="sidebar">
                    
                  </div>
               </div>
            </div>                  
        </div>
        </div>
    </div>
            </div>
        </div>
    </section>
        

    <script type="text/javascript">

    var stripe = Stripe('pk_test_51NY5frSF8Qfn55jutrazvjjjSkB9PzKsk0kMwpIRtv7GKs3dPaJUCcbGW4uEdpxiMlBDuX5iQZaLSfYdH2iVHZ7i000Lc4RAEU');
    var checkoutButton = document.getElementById('checkout-button');

 checkoutButton.addEventListener('click', function() {
 
 
 fetch('/create-checkout-session/', {
 method: 'POST',
    headers:{
          'Accept': 'application/json',
          'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()

    },
    body: JSON.stringify({'post_data':'{{net_price}}'})
 })
 .then(function(response) {
 return response.json();
 })
 .then(function(session) {
 return stripe.redirectToCheckout({ sessionId: session.id });
 })
 .then(function(result) {
 // If `redirectToCheckout` fails due to a browser or network
 // error, you should display the localized error message to your
 // customer using `error.message`.
 if (result.error) {
 alert(result.error.message);
 }
 })
 .catch(function(error) {
 console.error('Error:', error);
 });
 });
 </script>

    
  </body>
</html>
{% endblock %}




