{% extends 'seller-header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    
  </head>
  <body class="goto-here">
    
    <!-- END nav -->

    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 200px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Change Password</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="/">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Seller Change Password</p>
            </div>
        </div>
    </div>
    <!--  End Page Header -->

    <section class="ftco-section contact-section bg-light">
      <div class="container">
        
        <div class="row block-6">
          <div class="col-md-6 order-md-last d-flex">
            {% if msg %}
              <b style="color: blue">{{msg}}</b>
            {% endif %}
            <form action="{% url 'change-password' %}" class="bg-white p-5 contact-form" method="post">
              {% csrf_token %}
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Your Old Password" name="old_password">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Your New Password" name="new_password">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Your Confirm New Password" name="cnew_password">
              </div>
              <div class="form-group">
                <input type="submit" value="Change Password" class="btn btn-primary py-2 px-2">
              </div>
            </form>
          
          </div>
        </div>
      </div>
    </section> 
      
  </body>
</html>
{% endblock %}